/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***********************************************************
				        DEFAULTS
***********************************************************/

html{
    font-size:16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size:2.2rem;
    font-weight:bold;
    padding:10px 0 15px;
}

h2{
    font-size:1.5rem;
    padding:40px 0 10px;
}

.container{
    width:1024px;
    margin:0 auto;
}

nav ul li{
    padding:10px;
}

.sidebarbox{
    background:rgb(128,128,128);
    border:2px solid rgb(50,50,50);
}

#content p{
    padding:10px;
}

#rainbow div{ height:30px; }
#re{ background: red; }
#or{ background: orange; }
#ye{ background: yellow; }
#gr{ background: green; }
#bl{ background: blue; }
#in{ background: indigo; }
#vi{ background: violet; }

/***********************************************************
				        Flexbox
***********************************************************/

nav ul{
	background-color:rgb(220,220,220);
	display:flex;
	justify-content:space-evenly;
}


.bodyflex{
	display:flex;
}

main{
	/*width:75%; */
	flex-basis:0;
	flex-grow:2;
}

aside{
/*	width:25%; */
	display:flex;
	flex-basis:0;
	flex-grow:1;
	flex-direction: column-reverse;
}

aside .sidebarbox{
	flex-basis:0;
	flex-grow:1;
	display:flex;
	justify-content:center;
	align-items:center;
}

aside .sidebarbox:nth-child(2){
	order:1;
}

#fish{
	display:flex;
/*	flex-wrap:wrap; */
}

#fish img{
	width:100%;
}

#rainbow{
	display:flex;
}

#rainbow div{
	flex-basis:0;
	flex-grow:1;
}

#rainbow #re, #rainbow #gr, #rainbow #vi{
	flex-grow:2;
}	

#rainbow #in{
	flex-grow:4;
	order: 1;
}

#rainbow #ye{
	order:-1;
}

#content{
	display:flex;
}

#content p:nth-child(1){ flex: 1 2 0;}
#content p:nth-child(2){ flex: 1 1 0;}
#content p:nth-child(3){ flex: 1 1 0;}
#content p:nth-child(4){ flex: 1 5 0;}
#content p:nth-child(5){ flex: 1 2 0;}

/***********************************************************
				Mobile Flexbox Example
***********************************************************/

.mobile-header{
	background-color:grey;
	width:100vw;
	height:100vh;
	display:flex;
	flex-direction:column;
}

.mobile-header div{
	flex-basis:0;
	flex-grow:1;

	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;

	display:flex;
	justify-content:center;
	align-items:center;
}


.mobile-header div:nth-child(1){background-image:url("../images/pancake-batfish.jpg");}
.mobile-header div:nth-child(2){background-image:url("../images/barreleye-fish.jpg");}
.mobile-header div:nth-child(3){background-image:url("../images/blobfish.jpg");}

.mobile-header div span{
	color:white;
	font-weight:bold;
	font-size:2rem;
}